.alerta {

    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;

    &.error {
        background-color: $rojo;
    }

    &.exito {
        background-color: $verde;
    }
}

table.propiedades {
    margin: 4rem auto auto auto;
    width: auto;
    border-spacing: 0;
    text-align: center;
    font-size: 1.3rem;

    thead {
        background-color: $verde;

        th {
            color: $blanco;
        }
    }

    .titulo {
        width: 5rem;
    }

    .imagen-tabla {
        width: 5rem;
    }
}

@include tablet {
    table.propiedades {
        width: 100%;
        font-size: inherit;
        thead th {
            padding: 2rem;
        }
        .titulo {
            width: auto;
        }
        .imagen-tabla {
            width: 10rem;
        }
    }
}

.imagen-smoll {
    width: 20rem;
}